section.about#about
    h2.about__heading About me
    .about__text-wrap
        .container
            h3.about__text-heading Hi, my name is Vadim and I am a Frontend Developer
            p.about__text-p I started learning frontend on my own in September 2018. Mostly it was online courses, reading documentation and books about web development. In November 2018, I began to make the first orders for layout and development on Wordpress, and in March 2019 I got a job in an outsourcing web Studio for the development and promotion of sites to the position of frontend developer and Wordpress developer. I have experience in both web Studio and freelancing(upwork, fl.ru etc.). 
            p.about__text-p 
                b Professional skills: 
                | I know and apply HTML & CSS at a confident level, use mostly flexbox(familiar with css grid), write logic in JS, work with jQuery(familiar with the usability of many plugins: slick, jquery-ui, lazy, etc.), use preprocessors sass/less, pug, use npm, collect in gulp, learn React.js. I work in photoshop, figma.
            p.about__text-p 
                b Personal qualities: 
                | I have experience of working in a team remotely, sociable, Executive, comply with all conditions and deadlines when performing work.
            p.about__text-p
                b Languages: 
                | Russian and Ukrainian I speak fluently, English-reading documentation and communication by correspondence
