section.banner
    .banner__animation
        .banner__animation-item#a1 coding
        .banner__animation-item#a2 creative
        .banner__animation-item#a3 style
        .banner__animation-item#a4 style
        .banner__animation-item#a5 creative
        .banner__animation-item#a6 coding
    //-     .banner__animation-item#a7
    //-     .banner__animation-item#a8
    //-     .banner__animation-item#a9
    //-     .banner__animation-item#a10
    .banner__content
        .banner__content-title 
            h1 furik 
            .banner__content-subtitle vision