header.header
    .header__toggle 
        .header__toggle-btn 
    nav.header__nav#navMenu
        .container 
            ul.header__nav-list
                li.header__nav-item 
                    a(href="/") Main
                li.header__nav-item 
                    a(href="" data-href="1") About
                li.header__nav-item 
                    a(href="" data-href="2") Portfolio
                li.header__nav-item 
                    a(href="" data-href="3") Contacts
