section.portfolio
    h2.portfolio__title My Portfolio
    .container
        .portfolio__list
            .portfolio__list-item(data-index="1")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Сanon
                    .portfolio__item-subtitle frontend for action page
            .portfolio__list-item(data-index="2")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Starprint
                    .portfolio__item-subtitle development on Wordpress
            .portfolio__list-item(data-index="3")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Starprint
                    .portfolio__item-subtitle frontend for a site for the production of packages
            .portfolio__list-item(data-index="4")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Starprint
                    .portfolio__item-subtitle frontend for a site for the production of calendars
            .portfolio__list-item(data-index="5")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Make box
                    .portfolio__item-subtitle frontend for main page and development on Bitrix
            .portfolio__list-item(data-index="6")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Prezident-prof
                    .portfolio__item-subtitle frontend for main page and development on Wordpress
            .portfolio__list-item(data-index="7")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Detdefence
                    .portfolio__item-subtitle design and frontend for main page, development on Wordpress
            .portfolio__list-item(data-index="8")
                img(src="./images/K8aqWqWr_m.jpg", alt="", srcset="").portfolio__item-img
                .portfolio__item-descr
                    .portfolio__item-title Snikpic
                    .portfolio__item-subtitle frontend for all site, contact form integration with Google Sheets
            