@charset "UTF-8";
@font-face {
  font-family: "Sulphur-Bold";
  src: url("../fonts/SulphurPoint-Bold.ttf"); }

@font-face {
  font-family: "Sulphur-Light";
  src: url("../fonts/SulphurPoint-Light.ttf"); }

@font-face {
  font-family: "Sulphur-Regular";
  src: url("../fonts/SulphurPoint-Regular.ttf"); }

@font-face {
  font-family: "Solway-Bold";
  src: url("../fonts/Solway-Bold.ttf"); }

@font-face {
  font-family: "Solway-Light";
  src: url("../fonts/Solway-Light.ttf"); }

@font-face {
  font-family: "Solway-Regular";
  src: url("../fonts/Solway-Regular.ttf"); }

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Sulphur-Regular", sans-serif;
  color: white;
  background: #0c0322;
  font-size: 14px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative; }

.header {
  width: 100%;
  display: block;
  text-align: left; }
  .header__back {
    margin: 0 40px;
    padding: 10px;
    display: inline-block;
    cursor: pointer; }
    .header__back:hover .header__back-a::before {
      margin-left: -5px;
      margin-right: 10px; }
    .header__back-a {
      color: #fff;
      font-size: 30px;
      text-decoration: none; }
      .header__back-a::before {
        content: 'â†';
        font-size: 25px;
        margin: 0 5px;
        -webkit-transition: 1s all ease;
        transition: 1s all ease; }
      .header__back-a:hover {
        text-decoration: none;
        color: #fff; }
  .header__title {
    overflow: hidden;
    position: relative;
    display: inline-block; }
    .header__title-h1 {
      font-size: 50px;
      -webkit-animation: banner-title 1.2s;
              animation: banner-title 1.2s; }
      @media screen and (max-width: 567px) {
        .header__title-h1 {
          font-size: 30px; } }
    .header__title::before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -100%;
      -webkit-transform: translateX(201%);
              transform: translateX(201%);
      content: '';
      background: #fff;
      -webkit-animation: banner-title-bg 2s;
              animation: banner-title-bg 2s;
      -webkit-animation-delay: .4s;
              animation-delay: .4s; }

.banner {
  width: 100%; }
  .banner-img {
    width: 100%; }

.description {
  padding: 50px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #0c0322), to(#77699c));
  background: linear-gradient(to bottom, #0c0322 10%, #77699c); }
  .description__heading {
    text-align: center; }
  .description__text-wrap {
    position: relative; }
    .description__text-wrap > .container::before {
      width: 50px;
      height: 50px;
      border-left: #fff 3px solid;
      border-top: #fff 3px solid;
      position: absolute;
      top: -25px;
      left: -10px;
      opacity: 1;
      content: ''; }
    .description__text-wrap > .container::after {
      width: 50px;
      height: 50px;
      border-right: #fff 3px solid;
      border-bottom: #fff 3px solid;
      position: absolute;
      bottom: -10px;
      right: -10px;
      opacity: 1;
      content: ''; }
  .description__text-p {
    font-size: 24px;
    text-align: justify; }
  .description__link-a {
    margin: 20px;
    font-size: 30px;
    color: #fff; }
  @media screen and (max-width: 567px) {
    .description {
      height: auto; } }

.footer {
  height: 60vh;
  padding-top: 50px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
  background: #77699c;
  color: #fff;
  font-size: 21px; }
  .footer__item {
    -webkit-transition: 1.5s all ease;
    transition: 1.5s all ease;
    -webkit-transition-delay: .5s;
            transition-delay: .5s; }
    @media screen and (max-width: 567px) {
      .footer__item {
        padding: 15px 20px; } }
  .footer__img {
    position: absolute;
    bottom: -100px;
    width: 100%;
    text-align: center;
    -webkit-transition: 1.5s ease all;
    transition: 1.5s ease all; }
    @media screen and (max-width: 567px) {
      .footer__img img {
        width: 90%; } }
  .footer.active .footer__img {
    position: absolute;
    bottom: -100px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    text-align: center; }
  .footer.active .footer__item {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  @media screen and (max-width: 567px) {
    .footer {
      -webkit-box-pack: start;
              justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      height: 75vh; } }

@-webkit-keyframes nav-menu-open {
  0% {
    width: 0;
    height: 0; }
  90% {
    width: 100%;
    height: auto; } }

@keyframes nav-menu-open {
  0% {
    width: 0;
    height: 0; }
  90% {
    width: 100%;
    height: auto; } }

@-webkit-keyframes banner-title {
  from {
    opacity: 0;
    display: none; }
  80% {
    opacity: 0;
    display: none; }
  to {
    opacity: 1;
    display: block; } }

@keyframes banner-title {
  from {
    opacity: 0;
    display: none; }
  80% {
    opacity: 0;
    display: none; }
  to {
    opacity: 1;
    display: block; } }

@-webkit-keyframes banner-title-bg {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(201%);
            transform: translateX(201%); } }

@keyframes banner-title-bg {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(201%);
            transform: translateX(201%); } }

@-webkit-keyframes banner-subtitle {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  80% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes banner-subtitle {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  80% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes banner-anim-items {
  from {
    opacity: 0; }
  50% {
    opacity: 0.1; }
  to {
    opacity: 0; } }

@keyframes banner-anim-items {
  from {
    opacity: 0; }
  50% {
    opacity: 0.1; }
  to {
    opacity: 0; } }

@-webkit-keyframes banner-scroll-bottom {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes banner-scroll-bottom {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
