<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/portfolio.css")
    body
        header.header
            .header__back
                a(href="/").header__back-a Back to main
            .container
                .header__title
                    h1.header__title-h1 Сanon: frontend for action page
        section.banner 
            img.banner-img(src="", alt="", srcset="")
        section.description#description
            h2.description__heading Project info
            .description__text-wrap
                .container
                    p.description__text-p I started learning frontend on my own in September 2018. Mostly it was online courses, reading documentation and books description web development. In November 2018, I began to make the first orders for layout and development on Wordpress, and in March 2019 I got a job in an outsourcing web Studio for the development and promotion of sites to the position of frontend developer and Wordpress developer. I have experience in both web Studio and freelancing(upwork, fl.ru etc.). 
            .description__link
                a(href="").description__link-a Look this project

        footer.footer
            .footer_slogan.footer__item creative. coding. style.
            .footer__copyright.footer__item © Copyright 2019
            .footer__contacts.footer__item furegfureg@gmail.com
            .footer__img
                img(src="./images/down-img.png", alt="", srcset="").footer__img-item


        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(type='text/javascript').
            $.ajax({
                url: '/portfolio.json',
                success: function(responce){
                let i = localStorage.itemIndex;
                $('.header__title-h1').text(responce[i].name)
                $('.banner-img').attr('src', responce[i].banner);
                console.log(responce[i])
                }
            });