footer.footer
    .footer_slogan.footer__item creative. coding. style.
    .footer__copyright.footer__item © Copyright 2019
    .footer__contacts.footer__item furegfureg@gmail.com
    .footer__img
        img(src="./images/down-img.png", alt="", srcset="").footer__img-item


script(src="js/main.js")