@import "./fonts.scss";


$main-color:#0c0322;
$main-font-color: rgb(255, 255, 255);
$main-font: 'Sulphur-Regular', sans-serif;
$nav-font-color: #333;

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: $main-font;
    color: $main-font-color;
    background: $main-color  ;
    font-size: 14px;
    transition: 1s all ease;
    @media screen and (min-width: 769px) {
        overflow: hidden;
    }
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

#pageOverlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background: #fff;
    &.active {
        animation: banner-title-bg 2s;
    }
}


// Page-header 

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: 1s all ease;
    &__toggle {
        width: 30px;
        height: 40px;
        padding: 0 10px;
        margin: 20px 0;
        display: flex;
        position: absolute;
        left: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 99;
        &-btn {
            width: 100%;
            height: 1px;
            position: relative;
            border-bottom: 4px solid #fff;
            transition: .7s all ease;
            &.close-btn {
                transform: rotate(-45deg);
                border-bottom: 4px solid #333;
                &::before {
                    top: 0px;
                    transform: rotate(90deg);
                    background: #333;
                }
                &::after {
                    display: none;
                }
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                top: -8px;
                background: #fff;
                transition: .7s all ease;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                top: 10px;
                background: #fff;
                transition: .7s all ease;
            }
        }
    }
    &__nav {
        width: 0;
        max-height: 78px;
        overflow: hidden;
        background: rgb(255, 255, 255);
        transition: 1s all ease;
        transition-delay: .5s;
        &.active {
            width: 100%;
            height: auto;
            transition-delay: 0s !important;
            li {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        &-list {
            padding: 20px 10px;
            margin: 10px 0;
            width: 100%;
            text-align: right;
        }
        &-item {

            display: inline-block;
            opacity: 0;
            transform: translateY(-500px);
            transition: 1.5s ease all;

            a {
                padding: 20px 10px;
                font-size: 16px;
                color: $nav-font-color;
                text-decoration: none;
                @media screen and (max-width:567px){
                    padding: 20px 5px;
                    font-size: 13px;
                }
            }
        }
    }
}

// Main Banner 

.banner {
    height: 100vh;
    width: 100%;
    position: relative;
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            padding: 10px;
            width: 50%;
            overflow: hidden;
            position: relative;
            text-align: right;
            h1 {
                margin: 0;
                font-size: 250px;
                animation: banner-title 1.5s ;
                @media screen and (max-width:768px){
                    font-size: 200px;
                }
                @media screen and (max-width:567px){
                    font-size: 140px;
                }

            }
            &::before {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -100%;
                transform: translateX(201%);
                content: '';
                background: #fff;
                animation: banner-title-bg 2s ;
                animation-delay: .4s;
            }
            @media screen and (max-width:567px){
                width: 90%;
            }
        }
        &-subtitle {
            margin-top: -95px;
            font-size: 45px;
            animation: banner-subtitle 3s ;
            @media screen and (max-width: 567px) {
                    margin-top: -55px;
                    font-size: 35px;
            }
        }
    }
    &__animation {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        
        &-item {
            position: absolute;
            font-size: 50px;
            opacity: 0;
            animation: banner-anim-items 4s infinite;
        }
        &-item#a1 {
            top: 10%;
            left: 5%;
            font-size: 180px;
            animation-delay: 0s;
        }
        &-item#a2 {
            top: 80%;
            left: 75%;
            font-size: 70px;
            animation-delay: 1s;
        }
        &-item#a3 {
            top: 60%;
            left: 5%;
            font-size: 90px;
            animation-delay: 2s;
        }
        &-item#a4 {
            top: 40%;
            left: 80%;
            font-size: 40px;
            animation-delay: 5s;
        }
        &-item#a5 {
            top: 10%;
            left: 60%;
            font-size: 30px;
            animation-delay: 4s;
        }
        &-item#a6 {
            top: 83%;
            left: 36%;
            font-size: 120px;
            animation-delay: 3s;
        }
    }
}

// About section

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, $main-color 10%, #77699c ) ;
    &__heading {
        text-align: center;
    }
    &__text-wrap {
        position: relative;
        
        &>.container::before {
            width: 50px;
            height: 50px;
            border-left: #fff 3px solid;
            border-top: #fff 3px solid;
            position: absolute;
            opacity: 0;
            top: -35px;
            left: -20px;
            content: '';
            transition: 1s all ease;
            transition-delay: 1s;
        }
        &>.container::after {
            width: 50px;
            height: 50px;
            border-right: #fff 3px solid;
            border-bottom: #fff 3px solid;
            position: absolute;
            opacity: 0;
            bottom: -20px;
            right: -20px;
            content: '';
            transition: 1s all ease;
            transition-delay: 1s;
        }
        &>.active.container::before {
            width: 50px;
            height: 50px;
            border-left: #fff 3px solid;
            border-top: #fff 3px solid;
            position: absolute;
            top: -25px;
            left: -10px;
            opacity: 1;
            content: '';
        }
        &>.active.container::after {
            width: 50px;
            height: 50px;
            border-right: #fff 3px solid;
            border-bottom: #fff 3px solid;
            position: absolute;
            bottom: -10px;
            right: -10px;
            opacity: 1;
            content: '';
        }
    }
    &__text-p {
        font-size: 18px;
        text-align: justify;
    }
@media screen and (max-width: 567px) {
    height: auto;
}
}

// Portfolio section

.portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, #77699c ,  #ffffff ) ;
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        opacity: 0;
        transform: translate(-20px, -20px);
        transition: 1s all ease;
        transition-delay: .7s;
    }
    &__list-item {
        margin: 20px 0;
        position: relative;
        overflow: hidden;
        flex: 0 0 25%;
        text-align: center;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            flex: 0 0 50%;
        }
        @media screen and (max-width: 567px) {
            flex: 100%;
        }
        img {
            width: 100%;
            width: calc(100% - 30px);
            
        }
        &:hover .portfolio__item-descr{
            opacity: 1;
        }
        
    }
    &__item-descr {
        width: calc(100% - 30px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 15px;
        background: rgba(0, 0, 0, 0.8);
        transition: .5s all ease;
    }
    &__item-title {
        text-align: center;
        font-size: 18px;
    }
    &__item-subtitle {
        margin-left: 10px;
        font-size: 12px;
    } 
    &.active {
            
        .portfolio__list {
            transform: translate(0);
            opacity: 1;
        }
    }
    @media screen and (max-width: 567px) {
        height: auto;
    }
}

.footer {
    height: 60vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #77699c;
    font-size: 21px;
    &__item {
        opacity: 0;
        transform: translateY(30px);
        transition: 1.5s all ease;
        transition-delay: .5s;
        @media screen and (max-width:567px){
            padding: 15px 20px;
        }
    }
    &__img {
        position: absolute;
        bottom: -100px;
        transform: translateY(1000px);
        width: 100%;
        text-align: center;
        transition: 1.5s ease all;
        img {
            
            @media screen and (max-width: 567px){
                width: 90%;
            }
        }
    }
    &.active {

        .footer__img {
            position: absolute;
            bottom: -100px;
            transform: translateY(0);
            width: 100%;
            text-align: center;
        }
        .footer__item {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @media screen and (max-width:567px){
        justify-content: flex-start;
        flex-direction: column;
        height: 75vh;
    }
}

@import "./animation.scss";